*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --milk: #F3EED9;
  --brown: #824936;
  --very-deep-green: #222C2A;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: 'Playfair Display', serif, 'Roboto', sans-serif;
  font-weight: 300;
}

main {
  border: 1px solid black;
}

.container {
  max-width: 1128px;
}

.hero {
  min-height: 660px;
  display: grid;
  place-content: center;
  background-color: var(--milk);
  text-align: center;
}

.hero p {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  word-spacing: 0.7rem;
}

.hero h1 {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 60px;
  max-width: 800px;
  color: var(--brown)
}

.row {
  display: flex;
  gap: 3rem;
  padding: 3.5em 5em;
  justify-content: center;
  align-items: center;
}

.content h3 {
  color: var(--brown);
  text-align: center;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  font-family: "Playfair Display";
}

p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 21px;
}

[class*="image-container"] {
  color: white;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
}

.image-container1 {
  background-color: var(--very-deep-green);

}

.image-container2 {
  background-color: var(--brown);

}